<!-- 検索フォーム -->
<div class="block">
  <%= form_tag(books_path, method: :get, class: "field has-addons has-addons-centered") do %>
  <div class="control">
    <%= text_field_tag :query, @query, class: "input", placeholder: "本を検索する" %>
  </div>
  <div class="control">
    <%= submit_tag "検索", class: "button" %>
  </div>
  <% end %>
</div>

<!-- タブ -->
<div class="block">
  <div class="tabs inverted is-centered">
    <ul>
      <li class="tab_index"><%= link_to "書籍一覧", books_path, remote: true %></li>
      <li class="tab_new"><%= link_to "書籍追加", new_book_path, remote: true %></li>
    </ul>
  </div>
</div>

<!-- タブコンテンツ一覧 -->
<div id="tab_contents"><%= render 'new' %></div>

<!-- モーダルウインドウ -->
<div id="modal"></div>
