<h1>Books</h1>

<div class="block">
  <%= form_tag(books_path, method: :get, class: "field has-addons has-addons-centered") do %>
  <div class="control">
    <%= text_field_tag :query, @query, class: "input", placeholder: "本を検索する" %>
  </div>
  <div class="control">
    <%= submit_tag "検索", class: "button" %>
  </div>
  <% end %>
</div>

<div class="block">
  <div class="tabs is-centered">
    <ul>
      <li class="is-active"><%= link_to "書籍一覧", books_path %></li>
      <li><%= link_to "書籍追加", new_book_path %></li>
      <li><%= link_to "書籍検索", '#' %></li>
    </ul>
  </div>
</div>

<div class="block">
  <table class='table is-bordered is-striped is-hoverable'>
    <thead>
      <tr>
        <th class="table-index">index</th>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each.with_index(1) do |book, index| %>
      <tr>
        <th class="table-index"><%= "#{index}" %></th>
        <td><%= book.title %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
