<h1>Books</h1>

<div class="container">
  <%= form_tag(books_path, method: :get, class: "field has-addons has-addons-centered") do %>
    <div class="control">
      <%= text_field_tag :query, @query, class: "input", placeholder: "本を検索する" %>
    </div>
    <div class="control">
      <%= submit_tag "検索", class: "button is-info" %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Publisher</th>
      <th>Pubdate</th>
      <th>Cover</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.publisher %></td>
        <td><%= book.pubdate %></td>
        <td><%= book.cover %></td>
        <td><%= book.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>
